recursive-include flybirds/template *
include flybirds/report/node_report/*
include flybirds/report/node_report/*/*.*
include flybirds/report/node_report/*/*/*.*
include flybirds/report/node_report/*/*/*/*.*
include flybirds/report/node_report/*/*/*/*/*.*
include flybirds/report/node_report/*/*/*/*/*/*.*
include flybirds/report/node_report/*/*/*/*/*/*/*.*