recursive-include flybird/template *
include flybird/report/node_report/*
include flybird/report/node_report/*/*.*
include flybird/report/node_report/*/*/*.*
include flybird/report/node_report/*/*/*/*.*
include flybird/report/node_report/*/*/*/*/*.*
include flybird/report/node_report/*/*/*/*/*/*.*
include flybird/report/node_report/*/*/*/*/*/*/*.*