playwright>=1.19.0
pocoui>=1.0.87
airtest>=1.2.6
setuptools>=47.1.0
behave==1.2.6
jsonpath==0.82
typer>=0.6.0
tidevice==0.5.9
pyasn1==0.4.8
pyOpenSSL==19.1.0
click==8.0.3
jsonpath_ng>=1.5.3
deepdiff>=5.8.1
numpy<1.23
paddleocr<=2.6.0
paddlepaddle>=2.3.0
baseImage>=2.1.1
ffmpeg-python>=0.2.0
rich<13.0.0,>=10.11.0
